
<% if (!userId) { %>

    <div class="home-page-div">
        <img src="/assets/logo.png" alt="stitches-logo" class="logo">
        <h3>weaving conversations, one stitch at a time</h3>
    
        <p>
            <a href="/user/new" class="sign-up">sign up</a>
            <a href="/login" class="login">log in</a>
        </p>
    </div>


<% }  else { %>

    <div class="home-page-div">

        <img src="/assets/logo.png" alt="stitch-logo" class="small-logo">

    <% if (postsArray && postsArray.length === 0) { %>

        <div class="post-div">
            No posts yet.
        </div>
    
    <%} else if (postsArray && postsArray.length === 1) { %>

        <div class="post-div">
            <div class="user-post-div">
                <a href="/users/<%= postsArray[0].username %>">
                    <img src="<%= postsArray[0].userPic %>" alt="" class="feed-profile-pic">
                </a>
                <div class="user-post-wrapper">
                    <div class="text-post-div">
                        <div class="username"><%= postsArray[0].username %></div>
                        <div class="text-post-div">
                        <%= postsArray[0].post %>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/posts/<%= postsArray[0].id %>?_method=put">
                <button class="see-post-btn">see post</button>
            </form>
        </div>

    <% } else if (postsArray && postsArray.length > 1) { %>

        <% for (let item of postsArray) { %> 
    
            <div class="post-div">
                <div class="user-post-div">
                    <a href="/users/<%= item.username %>">
                        <img src="<%= item.userPic %>" alt="" class="feed-profile-pic">

                    </a>
                    <div class="user-post-wrapper">
                        <div class="username"><%= item.username %></div>
                        <div class="text-post-div">
                            <%= item.post %>
                        </div>
                    </div>
                </div>
                <form action="/posts/<%= item.id %>?_method=put">
                    <button class="see-post-btn">see post</button>
                </form>
            </div>
        
        <% } %>
        
    <% } %>


    <nav class="bottom-nav">
        <a href="/"><img src="/assets/home-icon.png" alt=""></a>
        <a href="/search"><img src="/assets/search-icon.png" alt=""></a>
        <a href="/posts/new"><img src="/assets/post-icon.png" alt=""></a>
        <a href="/<%= username %>"><img src="/assets/user-icon.png" alt=""></a>
    </nav>

</div>
<% } %>

    