<div class="user-div-wrapper">

    <header>
        <img src="/assets/logo.png" alt="stitch-logo" class="small-logo">
    </header>

    <aside>

        <p>
            <img src="<%= user.profile_pic_url %>" alt="<%= user.username %>-profile-picture" class="profile-pic">
        </p>
        <p>
            <%= user.username %>

                <form action="/users/<%= user.username %>?_method=put" method="post">
                    <input type="hidden" name="follow">
                    <button class="follow-btn"><%= buttonText %></button>
                </form>

        </p>
        <p>
            <%= user.description %>
        </p>
        <p>
            followers <%= followerCount %>
        </p>
        <p>
            following <%= followingCount %></a> 
        </p>

    </aside>

    <main>

    <% for (let post of posts) { %> 
        
        <div class="post-div">
            <div class="text-post-div">
                <%= post.post %>
                <form action="/posts/<%= post.id %>?_method=put">
                    <button class="see-post-btn">see post</button>
                </form>
            </div>
        </div>

    <% } %>

    </main>

    <nav class="bottom-nav">
    <a href="/"><img src="/assets/home-icon.png" alt=""></a>
    <a href="/search"><img src="/assets/search-icon.png" alt=""></a>
    <a href="/posts/new"><img src="/assets/post-icon.png" alt=""></a>
    <a href="/<%= sessionUser.username %>"><img src="/assets/user-icon.png" alt=""></a>
    </nav>

</div>