<img src="https://fakeimg.pl/600x300" alt="stitch-logo">

<p>
    <img src="https://fakeimg.pl/200x200?text=profile_pic" alt="<%= user.username %>-profile-pic">
</p>
<p>
    <%= user.description %>
</p>
<p>
    <a href="/<%= user.username %>/followers">followers</a>
    <%= userFollowers %>
</p>
<p>
    <a href="/<%= user.username %>/following">following</a>
    <%= userFollowing %>
</p>
<p>
    <a href="">edit profile</a>
</p>
<p>
    <button>log out</button>
</p>
